.event {
  position: relative;
  padding-top: 40px;

  h3 {
    font-size: 25px;
  }

  p {
    margin: 10px 0;
  }
}

.image {
  margin-bottom: 20px;
}

.controls {
  position: absolute;
  right: 30px;
  top: 0;
}

.delete {
  margin-left: 20px;
  color: red;
  background: transparent;
  border: none;
  font-family: 'Poppins', sans-serif;
  line-height: 1.8;
  font-size: 16px;
}

.back {
  display: block;
  margin-top: 40px;
}
